* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato',
        sans-serif;
    font-size: 10px;
    color: $main-color;
}

header {
    height: 100vh;
    position: relative;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1)),
    url("../img/clock.jpg");
    @include bgPos;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,.8);
    }
    .logo {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 8rem;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 2%;
        width: 90%;
        text-align: center;
        transform: translateY(-50%);
        font-size: 16rem;
        font-weight: 900;

        background-image: linear-gradient(30deg,
            rgba(0, 248, 165, 0.774),
            rgba(0, 214, 221, 0.3) 50%,
            rgba(3, 115, 189, 0.774) 100%),
            url("../img/nyc.jpg");
        @include bgPos;
        -webkit-background-clip: text;
        color: transparent;
    }

    .headerNav{
        @include nav;
    }
    .headerScroller{
        position: absolute;
        bottom:5%;
        left:40%;
        right: 40%;
        text-align: center;
        font-size: 2.4rem;
        & i{
            display: block;
            color: $secondary-color;
            margin-bottom: 10px;
            font-size: 2.8rem;
            animation: movingArrow .8s ease-in-out both infinite alternate;
        }
       
    }
}